App_WebReferences/myService/BizTalkServiceInstance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2019-03-16 02:35:18Z" />
  </wsdl:documentation>
  <wsp:Policy wsu:Id="WSHttpBinding_ITwoWayAsync_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="MessageBody">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://tempuri.org/Imports" targetNamespace="http://tempuri.org/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://tempuri.org/" />
    </xs:schema>
    <xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="MM72_OUTBOUND_MATERIAL_CHARACTERISTIC">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://tempuri.org/" minOccurs="0" maxOccurs="1" name="param" type="q1:CHARACTERISTICS" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CHARACTERISTICS">
        <xs:sequence>
          <xs:element xmlns:q2="http://tempuri.org/" minOccurs="0" maxOccurs="1" name="CHARACTERISTICS" type="q2:ArrayOfCHARACTERISTIC" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfCHARACTERISTIC">
        <xs:sequence>
          <xs:element xmlns:q3="http://tempuri.org/" minOccurs="0" maxOccurs="unbounded" name="CHARACTERISTIC" nillable="true" type="q3:CHARACTERISTIC" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CHARACTERISTIC">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NAME" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="VALUE" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="MM72_OUTBOUND_MATERIAL_CHARACTERISTICResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q4="http://tempuri.org/" minOccurs="0" maxOccurs="1" name="MM72_OUTBOUND_MATERIAL_CHARACTERISTICResult" type="q4:SERVICE_RESULT_MODEL" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="SERVICE_RESULT_MODEL">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="msg" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="MM72_MATERIAL_CHARACTERISTIC_InputMessage">
    <wsdl:part name="part" element="tns:MM72_OUTBOUND_MATERIAL_CHARACTERISTIC" />
  </wsdl:message>
  <wsdl:message name="MM72_MATERIAL_CHARACTERISTIC_OutputMessage">
    <wsdl:part name="part" element="tns:MM72_OUTBOUND_MATERIAL_CHARACTERISTICResponse" />
  </wsdl:message>
  <wsdl:portType name="MM72">
    <wsdl:documentation />
    <wsdl:operation name="MATERIAL_CHARACTERISTIC">
      <wsdl:documentation />
      <wsdl:input message="tns:MM72_MATERIAL_CHARACTERISTIC_InputMessage" />
      <wsdl:output message="tns:MM72_MATERIAL_CHARACTERISTIC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITwoWayAsync" type="tns:MM72">
    <wsp:PolicyReference URI="#WSHttpBinding_ITwoWayAsync_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MATERIAL_CHARACTERISTIC">
      <wsdl:documentation />
      <soap12:operation soapAction="MATERIAL_CHARACTERISTIC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="WSHttpBinding_ITwoWayAsync" binding="tns:WSHttpBinding_ITwoWayAsync">
      <soap12:address location="http://seulonbt999.mwb.net/BizTalkWcfService/MM72.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://seulonbt999.mwb.net/BizTalkWcfService/MM72.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>