App_WebReferences/myService/MM72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MM72_OUTBOUND_MATERIAL_CHARACTERISTIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="param" type="tns:CHARACTERISTICS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CHARACTERISTICS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CHARACTERISTICS" type="tns:ArrayOfCHARACTERISTIC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCHARACTERISTIC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CHARACTERISTIC" nillable="true" type="tns:CHARACTERISTIC" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CHARACTERISTIC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="NAME" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="VALUE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DESCRIPTION" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MM72_OUTBOUND_MATERIAL_CHARACTERISTICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="MM72_OUTBOUND_MATERIAL_CHARACTERISTICResult" type="tns:SERVICE_RESULT_MODEL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SERVICE_RESULT_MODEL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="msg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>